In [9]:
import json
import pandas as pd
import warnings

In [10]:
warnings.filterwarnings(action='ignore')

In [2]:
data = []
mydf = pd.DataFrame()

In [3]:
json_path = 'songhunhwa.github.com\\tutorial\\tutorial_01\\ds_tutorial_json.json'

In [4]:
with open(json_path) as f:
    for line in f:
        data.append(json.loads(line))
        
    for i in range(0, len(data)):
        df = pd.DataFrame.from_dict([data[i]])
        mydf = mydf.append(df)

In [5]:
mydf.reset_index(drop=True, inplace = True)

In [6]:
mydf['date'] = pd.to_datetime(mydf['date'], unit = 's').dt.date
mydf['date'] = mydf['date'].astype('datetime64[ns]')

In [7]:
mydf.head()

        date memno  screen event  ver     area group
0 2017-11-29  1101   intro  view  0.1    seoul     a
1 2017-11-29  1101   intro  view  0.2    taegu     a
2 2017-11-29  1102  detail  view  0.2  gyenggi     b
3 2017-11-29  1102  detail   clk  0.2    seoul     b
4 2017-11-29  1102    main   clk  0.2    seoul     c

In [11]:
mydf.describe()

                       date memno  screen event  ver     area group
count                   120   120     120   120  120      120   120
unique                    4    11       5     2    3        3     5
top     2017-11-29 00:00:00  1102  detail   clk  0.2  gyenggi     d
freq                     36    32      68    68  104       64    48
first   2017-11-26 00:00:00   NaN     NaN   NaN  NaN      NaN   NaN
last    2017-11-29 00:00:00   NaN     NaN   NaN  NaN      NaN   NaN